@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#countdown {
    font-size: 2rem;
}

body {
    font-family: "Jost", sans-serif;
    background-image: url(img/sunset.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #c3dda0;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 40px;
}

.head h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3.9rem;
    font-weight: 400;
}

.head .invitation {
    margin-top: 20px;
    border-bottom: solid 2px #c4baa0;
    width: auto;
    padding: 0px 50px 10px 50px;
}

.head .invitation h2 {
    font-size: 2rem;
    font-weight: 300;
}

.date h2 {
    font-weight: 400;
}

.text{
    width: auto;
    padding: 5px;
}

.text h2{
    font-weight: 500;
    letter-spacing: 0.4rem;
    font-size: 1.2rem;
}

.links {
    display: grid;
    grid-template-areas:
        'head head'
        'ft sec'
        'mid mid'
        'pix pix'
        'local local'
        'btnlocal btnlocal';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65px 1fr 65px 140px 65px 90px;
    gap: 20px;
    font-size: 2rem;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 5px #333;
    overflow: hidden;
    font-weight: bold;
    color: #fff;
    border: 3px solid #c3dda0;
    object-fit: contain;
}

#first {
    grid-area: ft;
    background: #fff;
}

#second {
    grid-area: sec;
    background: #0e89ff;
}

#third {
    font-size: 2rem;
    grid-area: btnlocal;
    background: #c3dda0;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
}

#third img {
    width: 150px;
    margin-top: 5px;
}

#forth {
    font-size: 2rem;
    grid-area: fh;
    background: #c3dda0;
    justify-content: space-evenly;
}

#forth img {
    width: 150px;
    margin-top: 5px;
}

.button img {
    width: 200px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #ffffff;
}

.links h2 {
    font-size: 2em;
    margin: 0px;
    font-weight: 500;
}

.link1 { grid-area: head; }
#first { grid-area: ft; }
#second { grid-area: sec; }
.link2 { grid-area: mid; }
#pix { grid-area: pix; justify-self: center; }
.link3 { grid-area: local; }
#third { grid-area: btnlocal; justify-self: center; width: 100%; }

/* imagens */
#louro {
    width: 300px;
    padding: 20px;
}

#flowers-left,
#flowers-right {
    position: fixed;
    bottom: 0;
    width: 150px;
    pointer-events: none;
    z-index: 0;
    opacity: 0.5;
}

#flowers-left {
    left: -80px;
}

#flowers-right {
    right: -80px;
}